<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum neque, dolorum eaque debitis ipsam aspernatur sint voluptatibus sunt, illo voluptate voluptas explicabo eveniet similique omnis dolore? Inventore cum aliquam eligendi error quasi corrupti, qui reprehenderit, harum sint quos nobis molestiae.</p>
    </div>
</div>