<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ratione ipsam aspernatur veniam tenetur iusto temporibus voluptatibus ad, nulla ab sequi ducimus labore, aperiam voluptatem unde, quam at maiores possimus.</p>
    <a href="#" class="btn btn-primary btn-lg">Info</a>
</div>